## Export methods
export(
  aep,
  availability,
  avail,
  changes,
  clean,
  cln,
  createMast,
  mast,
  createPC,
  pc,
  createSet,
  set,
  energy,
  en,
  formatTS,
  fts,
  frequency,
  freq,
  monthStats,
  ms,
  plotAvailability,
  plavail,
  plotDay,
  plday,
  plotMap,
  map,
  plotPC,
  plpc,
  plotPolar,
  plpol,
  plotTimeSeries,
  plts,
  plotTurbIEC,
  pliec,
  plotWbDir,
  plwbd,
  printObject,
  probj,
  profile,
  pro,
  readPC,
  rpc,
  turbulence,
  turb,
  uncertainty,
  uc,
  weibull,
  wb
)

## S3 methods
S3method(plot, aep)
S3method(plot, energy)
S3method(plot, frequency)
S3method(plot, monthStats)
S3method(plot, profile)
S3method(plot, turbulence)
S3method(plot, uncertainty)
S3method(plot, weibull)
S3method(print, aep)
S3method(print, energy)
S3method(print, frequency)
S3method(print, monthStats)
S3method(print, profile)
S3method(print, turbulence)
S3method(print, uncertainty)
S3method(print, weibull)
