## Export methods
export(
  aep,
  availability,
  avail,
  changes,
  clean,
  cln,
  createMast,
  mast,
  createPC,
  pc,
  createSet,
  set,
  energy,
  en,
  formatTS,
  forts,
  frequency,
  freq,
  monthStats,
  ms,
  plotAep,
  plaep,
  plotAvailability,
  plavail,
  plotDay,
  plday,
  plotEnergy,
  plen,
  plotFrequency,
  plfreq,
  plotMap,
  map,
  plotMonthStats,
  plms,
  plotPC,
  plpc,
  plotPolar,
  plpol,
  plotProfile,
  plpro,
  plotTimeSeries,
  plts,
  plotTurbIEC,
  pliec,
  plotTurbulence,
  plturb,
  plotUncertainty,
  pluc,
  plotWbDir,
  plwbd,
  plotWeibull,
  plwb,
  printObject,
  probj,
  profile,
  pro,
  readPC,
  rpc,
  turbulence,
  turb,
  uncertainty,
  uc,
  weibull,
  wb
)

## Import packages
import(
  RColorBrewer
)
